.idea/
.vscode/
node_modules/
build/
dist/
tmp/
temp/
.env
**/.env
.npm/
.cache/
*.sqlite

.terraform
*.auto.tfvars
*.backup
secret.*
secrets.*
vault_password
key.*
*.tfstate
*.lock.hcl
ansible_vars.json
